# Build artifacts
*.o
*.lo

# Editor swap files
.*.sw*

# Dependency files
.deps/

# Generated pkg-config
/swc.pc

# Libraries
/libswc/libswc.a
/libswc/libswc.so*

# Binaries
/launch/swc-launch
/cursor/convert_font
/example/wm

# Generated cursor header
/cursor/cursor_data.h

# Generated Wayland protocol files
/protocol/*-protocol.c
/protocol/*-server-protocol.h

# HTML docs
/docs/html